*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 25%;
    width: 100%;
    background-color: rgb(34, 109, 250);
}

h1 {
    font-size: 100px;
    font-style: italic;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 4% 4% 4%
}
 i{
    padding: 20px;
    font-size: 110px;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    padding: 15px;

}
div .gcse-search-gsc-control-cse gsc-control-cse-en{
    padding: 0;
    border: 0px;
}

.main {
    background-color: beige;
    padding: 10px;
    height:100vh;

}
.subject{
    border: 3px solid black;
    width: 50%;
}
section .subject #define{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    
}

section .subject #term {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

section .subject #uses{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

h2{
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 35px;
}



.subject p {
    padding-bottom: 20px;
    word-spacing: 5px;
    margin-top: 10px;
    width: 50%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black

}

.resources{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    width: 50%;
    background-color: gray;
    
}
.resources div  {
    display: flex;
    justify-content: space-between;

 }
 #codecademy img {
    max-width: 20%;
    max-height: auto;
 }

 #github img{
    max-width: 20%;
    max-height: 50%;
 }

 #mdn img{
    max-width: 20%;
    max-height: auto;
 }

 #w3 img {
    max-width: 20%;
    max-height: 50%;
 }

 section #examples{
    position:absolute;
    width: 48%;
    right: 1vw;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    flex-wrap: wrap;
    height: auto;
}

#examples .ex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#examples .ex-container a {
    border: 3px solid black;
    height: 180px;
    margin: 0.5em; 
    flex-basis: calc(50% - 1em); 
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 0.9rem;  
    color: white;
    text-decoration: none;
    
}
#examples .ex-container a:hover {
    color: transparent;
    transition: .3s;
}
#examples .ex-container a div {
    padding: 8px 10px;
    width: 80px;
    background-color: transparent;
    font-weight: 800;
    font-size: 30px;
    z-index: 100;
}

.ex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 77%;
    padding-left: 1px;
}
h4{
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    display: flex;
    
}

.tic-tac {
    background-image:url(../images/tic-tac-toe\ css.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    
}
.w3-ex {
    background-image: url(../images/css\ w3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-frog {
    background-image: url(../images/flexbox\ frog\ css.png);
    background-size: cover;
}

@media screen and (max-width:768px) {
    .main {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 50%;
    }
}

@media screen and (max-width:768px) {
    .resources{
        flex-direction: column;
        
    }
}

@media screen and (max-width:768px) {
    .examples{
        flex-direction: column;
    }
}
    




footer{
    height: 25%;
    width: 100%;

}


