@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.logo {
    height: 100px;
    width: 175px;
    margin:0;
    font-size: 100px;
    
}

.main {
    background-color: black;
    padding: 10px;
    height: 100vh;

}


h2{
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 35px;
}

.subject{
    border: 3px solid black;
    width: 100%;
    height: 50%;
    font-family: "poppins" sans-serif;
}

section .subject #summary{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    font-size: 25px;
}

.subject p {
    padding-bottom: 20px;
    word-spacing: 5px;
    margin-top: 10px;
    width: 50%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;

}

 .resources{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    width: 50%;
    height: 50%;
    margin-bottom: 500px;
}
.resources{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    width: 100%;
    height: 50%;
    margin-bottom: 200px;
}
.resources div  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

 }

 #codecademy img {
    max-width: auto;
    max-height: 100px;
 }

 #github img{
    max-width: auto;
    max-height: 100px;
 }

 #mdn img{
    max-width: auto;
    max-height: 100px;
 }

 #w3 img {
    max-width: auto;
    max-height: 100px;
 }






 



